// Normalizing styles
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  margin: 0;
}
//--------------------------------------//

html {
  background-color: dimgray;
  h1, h2 {
    font-family: monospace;
    padding-left: 1em;
    color: white;
  }
}

.week {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));;
  row-gap: 30px;
  justify-items: center;
  .day {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: cadetblue;
    &.today {
      background-color: coral;
    }
    .note-text {
      color: black;
      background-color: transparent;
      resize: vertical;
      border: none;
      &:focus {
        outline-color: blue;
      }
      &::placeholder {
        color: lightgoldenrodyellow;
      }
    }
  }
}